<article>
  <h1><%= a post.link, post.title %></h1>
  <p><date datetime="<%= post.date.rfc3339 %>"><%= post.date.strftime Blograph.meta['locale']['date'] %>
    &mdash; <%= Sanitize.clean(post.excerpt, Sanitize::Config::RESTRICTED).strip %>&hellip;</p>
</article>
