<% require 'time' %>
<p class="jump"><a href="#index">(Jump to issue list)</a></p>

<%= yield_post(posts.reverse.reject{|p|post.date > DateTime.now}.first, template: :post) %>

<menu id="index">
  <h1>All Issues</h1>
  <% posts.reverse.each do |post| %>
    <%= yield_post(post, template: :_post_excerpt) %>
  <% end %>
</menu>
